<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <p class="home-text">Seasons of the Hollow</p>
            <h1 class="home-title">Fieldvalley</h1>
            <p class="home-text-two">Rediscover the valley’s quiet history and embrace the rhythm of the seasons. No rush — just your little corner of the
            world slowly coming to life.</p>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
            <h2 class="about-title">About the Game</h2>
            <p class="about-text">Fieldvalley: Seasons of the Hollow focuses on rebuilding both a place and a routine.</p>
            <ul class="about-list">
                <li class="about-item">
                    <img src="/img/about/one.png" alt="animal" loading="lazy">
                    <p>RELAX</p>
                </li>
                <li class="about-item about-item-two">
                    <img src="/img/about/two.png" alt="animal" loading="lazy">
                    <p>GROW</p>
                </li>
                <li class="about-item about-item-three">
                    <img src="/img/about/three.png" alt="animal" loading="lazy">
                    <p>RESTORE</p>
                </li>
            </ul>
        </div>
        <div class="about-text-wrapper">
            <p>Players arrive in a forgotten valley where time seems to move differently. By planting crops, repairing structures, and
            interacting with the environment, the homestead gradually becomes livable again.</p>
            <p>Here's what really sets this apart - everything revolves around the seasons. Spring introduces renewal, summer rewards
            effort, autumn brings harvest, and winter encourages reflection and preparation. The valley never rushes the player — it
            simply responds to consistent care.</p>
        </div>
    </div>
</section>