body{
  background: #efe3cd;
  font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #523314;
}
h2{
  font-family: "Lora", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    color: #7a2926;
    margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 18px;
  }
  h2{
    font-size: 52px;
  }
}