.footer {
background: #284332;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fdfcf0;
}

.footer-text {
  margin-top: 32px;
  text-align: center;
  color: #dbdacc;
}

@media only screen and (min-width: 1440px) {
  .footer-navigation {
    flex-direction: row;
    justify-content: end;
    font-size: 22px;
    gap: 60px;
  }

  .footer-text {
    margin-top: 60px;
  }
}