.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-text{
    font-family: "EB Garamond", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fdfcf0;
        margin-bottom: 8px;
}
.home-title{
    font-family: "Lora", sans-serif;
        font-weight: 600;
        font-size: 42px;
        line-height: 0.96;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        text-align: center;
        color: #fdfcf0;
        text-shadow: 8px 8px 12px 0 rgba(113, 99, 99, 0.12);
        padding-bottom: 8px;
border-bottom: 4px solid #fff;
margin-bottom: 16px;
}
.home-text-two{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.28;
        text-align: center;
        color: #fdfcf0;
}
@media only screen and (min-width: 1440px) {
 .home-section{
background-image: url("/img/home/desk.png");
 }
 .home-wrapper{
    margin-top: 60px;
    width: 903px;
    margin-right: 0;
    margin-left: auto;
 }
 .home-text{
    font-size: 24px;
 }
 .home-title{
    font-size: 114px;
    margin-bottom: 32px;
 }
 .home-text-two{
    width: 600px;
    font-size: 22px;
 }
}
/* About the Game */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
height: 887px;
}
.about-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.about-wrapper{
    display: flex;
    flex-direction: column;
}
.about-text{
font-weight: 700;
 font-size: 18px;
margin-bottom: 24px;
}
.about-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.about-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
        padding: 8px 16px;
        width: 134px;
        height: 40px;
box-shadow: 4px 4px 8px 0 rgba(71, 61, 61, 0.16);
    background: #e67e22;
    gap: 8px;
        font-weight: 500;
        font-size: 14px;
        color: #fdfcf0;
}
.about-item-two{
    background: #689f38;
}
.about-item-three{
    background: #5dade2;
}
.about-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media only screen and (min-width: 1440px) {
 .about-section{
background-image: url("/img/about/desk.png");
height: 715px;
 }
 .about-container{
    flex-direction: row;
    justify-content: center;
    gap: 60px;
 }
 .about-wrapper{
    width: 480px;
 }
 .about-text-wrapper{
    width: 532px;
 }
 .about-text{
font-size: 22px;
margin-bottom: 52px;
 }
 .about-text-wrapper{
    gap: 16px;
 }
}