.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-text{
    font-family: "EB Garamond", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fdfcf0;
        margin-bottom: 8px;
}
.home-title{
    font-family: "Lora", sans-serif;
        font-weight: 600;
        font-size: 42px;
        line-height: 0.96;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        text-align: center;
        color: #fdfcf0;
        text-shadow: 8px 8px 12px 0 rgba(113, 99, 99, 0.12);
        padding-bottom: 8px;
border-bottom: 4px solid #fff;
margin-bottom: 16px;
}
.home-text-two{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.28;
        text-align: center;
        color: #fdfcf0;
}
@media only screen and (min-width: 1440px) {
 .home-section{
background-image: url("/img/home/desk.png");
 }
 .home-wrapper{
    margin-top: 60px;
    width: 903px;
    margin-right: 0;
    margin-left: auto;
 }
 .home-text{
    font-size: 24px;
 }
 .home-title{
    font-size: 114px;
    margin-bottom: 32px;
 }
 .home-text-two{
    width: 600px;
    font-size: 22px;
 }
}
/* About the Game */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
height: 887px;
}
.about-title{
    text-align: left;
}
.about-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 64px;
}
.about-wrapper{
    display: flex;
    flex-direction: column;
}
.about-text{
font-weight: 700;
 font-size: 18px;
margin-bottom: 24px;
}
.about-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.about-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
        padding: 8px 16px;
        width: 134px;
        height: 40px;
box-shadow: 4px 4px 8px 0 rgba(71, 61, 61, 0.16);
    background: #e67e22;
    gap: 8px;
        font-weight: 500;
        font-size: 14px;
        color: #fdfcf0;
}
.about-item-two{
    background: #689f38;
}
.about-item-three{
    background: #5dade2;
}
.about-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media only screen and (min-width: 1440px) {
 .about-section{
background-image: url("/img/about/desk.png");
height: 715px;
 }
 .about-container{
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding-top: 96px;
 }
 .about-wrapper{
    width: 480px;
 }
 .about-text-wrapper{
    width: 532px;
 }
 .about-text{
font-size: 22px;
margin-bottom: 52px;
 }
 .about-text-wrapper{
    gap: 16px;
 }
}
/* Life in the Valley */
.life-section{
background: #faf7f2;
}

.life-text{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.life-list{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.life-item{
    display: flex;
        flex-direction: column;
        gap: 16px;
}
.life-item-wrapper{
    display: flex;
        flex-direction: column;
        gap: 16px;
}
.life-item-subtitle{
    font-family: "Lora", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 0.96;
        letter-spacing: 0.02em;
        color: #64613e;
}
.life-item-text{
        text-align: justify;
}
@media only screen and (min-width: 1440px) {
 .life-text{
    width: 503px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
 }
 .life-list{
    margin-top: 48px;
    flex-direction: row;
    justify-content: center;
 }
 .life-item{
    width: 555px;
    align-items: center;
 }


 .life-item-wrapper-one{
        width: 550px;
    padding-right: 24px;
    border-right: 2px solid #523314;
 }
 .life-item-text{
    height: 150px;
 }
 .life-item-subtitle{
    font-size: 24px;
    text-align: left;
 }
 .life-item-subtitle-one{
    text-align: right;
 }
 .life-item-two{
    width: 520px;
 }
}
/* Exploration & Discovery */
.exploration-text{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.exploration-text-two{
    margin-top: 8px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #647e3f;
}
@media only screen and (min-width: 1440px) {
.exploration-wrapper{
    width: 864px;
    margin-left: auto;
    margin-right: auto;
}
.exploration-text,
.exploration-text-two{
font-size: 22px;
}
}
/* Key Features */
.key-section{
    background: #fdfcf0;
}
.key-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.key-title{
    text-align: left;
}
.key-text{
        font-weight: 700;
        font-size: 18px;
}
.key-list{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.key-item{
    width: 161px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.key-item-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
        font-weight: 700;
        font-size: 18px;
        color: #647e3f;
}
@media only screen and (min-width: 1440px) {
 .key-container{
    flex-direction: row;
    gap: 42px;
    justify-content: center;
    align-items: start;
 }
 .key-wrapper{
    width: 540px;
 }
 .key-text{
    font-size: 22px;
 }
 .key-list{
    gap: 32px;
 }
 .key-item{
    width: 252px;
    gap: 16px;
 }
 .key-item-wrapper{
    font-size: 20px;
 }
.key-item p{
    width: 240px;
}
}
/* How to Play */
.how-list{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.how-item{
    width: 240px;
        display: flex;
            flex-direction: column;
            align-items: center;
}
.how-item-title{
    margin-top: 16px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #647e3f;
}
.how-item p{
    margin-top: 4px;
    text-align: center;
}
@media only screen and (min-width: 1440px) {
  .how-list{
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
  .how-item-title{
    font-size: 22px;
  }
}
/* Gallery */
.gallery-section{
    background-image: url("/img/gallery/mob-back.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.gallery-container{
    padding-left: 0;
    padding-right: 0;
}
.gallery-title{
    padding-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
.gallery-section{
background-image: url("/img/gallery/desk-back.png");
}
.gallery-container{
    padding-left: 176px;
    padding-right: 176px;
}
.gallery-title{
    margin-bottom: 48px;
}
.gallery-img{
    width: 1088px;
}
}
/* Send a Letter to the Valley */
.contact-section{
    background-image: url("/img/contact/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.contact-container{
    padding-bottom: 64px;
}
.contact-wrapper{
    border-radius: 36px;
        padding: 40px 24px;
        width: 343px;
        height: 340px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 4px 4px 8px 0 rgba(71, 61, 61, 0.16);
            background: #faf7f2;
}
.contact-text{
    margin-top: 24px;
    text-align: center;
}
.contact-link{
    margin-top: 24px;
    display: flex;
align-items: center;
justify-content: center;
gap: 4px;
font-family: "Lora", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.96;
    letter-spacing: 0.02em;
    text-align: center;
    color: #64613e;
}
@media only screen and (min-width: 1440px) {
.contact-section{
background-image: url("/img/contact/desk.png");
}
.contact-container {
    padding-bottom: 96px;
}
.contact-wrapper{
        padding: 40px;
        width: 864px;
        height: 281px;
}
.contact-text{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.contact-link{
    font-size: 24px;
}
}